<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425346711823-m34frkcrf72s5mhscvbi91dckrboav75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425346711823-m34frkcrf72s5mhscvbi91dckrboav75</string>
	<key>API_KEY</key>
	<string>AIzaSyA2AnJm9YGacppi25NUkrLBKto0D-HegSI</string>
	<key>GCM_SENDER_ID</key>
	<string>425346711823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.rmit.edu.Battleship</string>
	<key>PROJECT_ID</key>
	<string>rmit-ios-asm2-e0102</string>
	<key>STORAGE_BUCKET</key>
	<string>rmit-ios-asm2-e0102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425346711823:ios:f7ed11b1826487f7bd7e7a</string>
</dict>
</plist>